<a href="https://colab.research.google.com/github/410650617/Introduction-to-Computers/blob/main/0608.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = ["1,2,3,4"]

In [2]:
list1

['1,2,3,4']

In [4]:
list2 = ["香蕉","蘋果","橘子"]

In [7]:
list2

['香蕉', '蘋果', '橘子']

In [8]:
list3 = [1,"香蕉",True]

In [9]:
list3

[1, '香蕉', True]

In [10]:
list4 = []

In [11]:
list4

[]

In [12]:
list1 = [1,2,3,4]

In [13]:
print(list1)

[1, 2, 3, 4]

In [14]:
print(list1[0])

1

In [15]:
print(list1[1])

2

In [16]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

1
2
3
4

In [17]:
print(list1[4])

IndexError: ignored

In [18]:
list4 = ["香蕉","蘋果","橘子"]

In [19]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [20]:
print(list4[3])

IndexError: ignored

In [21]:
print(list4[-1])
print(list4[-2])
print(list4[-3])

橘子
蘋果
香蕉

In [22]:
print(list4[-4])

IndexError: ignored

In [24]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [25]:
print(list5[1])

['mary', 'abcd']

In [26]:
print(list5[0])

[['tom', '1234']]

In [27]:
print(list5[1][1])

abcd

In [28]:
print(list5[0])

[['tom', '1234']]

In [30]:
print(list5[0][0])

['tom', '1234']

In [31]:
print(list5[1][0])

mary

In [32]:
list7 = [85,79,93]

In [34]:
print("國文成績:",list7[0],"分")
print("數學成績:",list7[1],"分")
print("英文成績:",list7[2],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [44]:
list6 = [1,2,3,4,5]

In [45]:
print(list6[0])

1

In [46]:
print(list6)

[1, 2, 3, 4, 5]

In [48]:
list6[0] = 9

In [49]:
print(list6[0])

9

In [50]:
print(list6)

[9, 2, 3, 4, 5]

In [35]:
list7 = ["香蕉","蘋果","橘子"]

In [36]:
print(list7)

['香蕉', '蘋果', '橘子']

In [38]:
for a in list7:
  print(a,end=",")

香蕉,蘋果,橘子,

In [39]:
list3 = ["123","apple","True"]

In [40]:
for a in list3:
  print(a,end="\n")

123
apple
True

In [41]:
scores = [85,79,93]
print(len(scores))

3

In [42]:
scores = [85,79,93,50]
print(len(scores))

4

In [54]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [64]:
scores = [85,79,93]
for i in range(len(scores)):
  print("國文成績: %d分" %scores[0])
  print("數學成績: %d分" %scores[1])
  print("英文成績: %d分" %scores[2])
  break

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [72]:

name = ["Tom","Mary","Tony"]
for i in range(len(name)):
  print("編號:1 姓名:",name[0])
  print("編號:2 姓名:",name[1])
  print("編號:3 姓名:",name[2])
  break

編號:1 姓名: Tom
編號:2 姓名: Mary
編號:3 姓名: Tony